################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AdventOfCode_Day1_ReportRepair
/bin/Debug
/obj
/.vs/AdventOfCode/v15
/.vs
/FixReport/obj
/PasswordPhilosophy/bin/Debug
/PasswordPhilosophy/obj/Debug
